repos:
    - repo: https://github.com/psf/black
      rev: 23.10.0
      hooks:
          - id: black
            stages: [push]
            language_version: python3.9

    - repo: https://github.com/asottile/blacken-docs
      rev: 1.15.0
      hooks:
          - id: blacken-docs
            stages: [push]
            additional_dependencies: [black==23.10.0]
            language_version: python3.9
            files: '\.(rst|md|markdown|py|tex)$'

    - repo: https://github.com/PyCQA/isort
      rev: 5.12.0
      hooks:
          - id: isort
            stages: [push]
            args: ["--profile", "black"]
