version: "3"

services:
  yoma-ga-web:
    build:
      context: .
      dockerfile: ./dockerfiles/fastapi/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ./environments/yoma-ga/fastapi.default.env:/app/.env
    depends_on:
      - yoma-ga-wallets-db
    networks:
      - yoma-ga
      - host
    env_file:
      - environments/yoma-ga/fastapi.default.env
  yoma-ga-wallets-db:
    image: postgres:11
    container_name: yoma-ga-wallets-db
    command: postgres -c listen_addresses='*'
    env_file:
      - environments/yoma-ga/db.default.env
    volumes:
      - ./resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yoma-ga
      - host
    tty: true
  # ngrok-yoma-ga:
  #   image: wernight/ngrok
  #   env_file:
  #     - environments/yoma-ga/aca-py-agent.default.env
  #   command: ngrok http yoma-ga-agent:3020 --log stdout
  #   networks:
  #     - yoma-ga
  #     - host
  yoma-ga-agent:
    build:
      context: .
      dockerfile: dockerfiles/agents/Dockerfile.agent
    env_file:
      - environments/yoma-ga/aca-py-agent.default.env
    ports:
      - 3020:3020
      - 3021:3021
    depends_on:
      - yoma-ga-wallets-db
    networks:
      - yoma-ga
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"
  yoma-trust-registry:
    build:
      context: .
      dockerfile: ./dockerfiles/trustregistry/Dockerfile
    env_file:
      - environments/trustregistry/trustregistry.default.env
    ports:
      - "8001:8001"
    volumes:
      - ./trustregistry:/trustregistry
    networks:
      - yoma-ga
      - yoma-multitenant
      - host
  yoma-multitenant-web:
    build:
      context: .
      dockerfile: ./dockerfiles/fastapi/Dockerfile
    ports:
      - "8100:8000"
    volumes:
      - ./app:/app
      - ./environments/yoma-multitenant/fastapi.default.env:/app/.env
    depends_on:
      - yoma-multitenant-wallets-db
    networks:
      - yoma-multitenant
      - host
    env_file:
      - environments/yoma-multitenant/fastapi.default.env
  # yoma-webhooks-web:
  #   build:
  #     context: .
  #     dockerfile: ./dockerfiles/webhooks/Dockerfile
  #   ports:
  #     - "3010:3010"
  #   volumes:
  #     - ./webhooks:/webhooks
  #   networks:
  #     - yoma-multitenant
  #     - yoma-ga
  #     - host
  #   env_file:
  #     - environments/webhooks/fastapi.webhooks.env
  #   environment:
  #     - REDIS_URL=redis://wh-redis
  # wh-redis:
  #   image: redis:latest
  #   restart: always
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - $PWD/data:/data
  #   networks:
  #     - host
  #   env_file:
  #     - environments/webhooks/redis.env
  yoma-multitenant-wallets-db:
    image: postgres:11
    container_name: yoma-multitenant-wallets-db
    command: postgres -c listen_addresses='*'
    env_file:
      - environments/yoma-multitenant/db.default.env
    volumes:
      - ./resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yoma-multitenant
      - host
    tty: true
  ngrok-yoma-multitenant:
    image: wernight/ngrok
    env_file:
      - environments/yoma-multitenant/aca-py-agent.default.env
    command: ngrok http yoma-multitenant-agent:3020 --log stdout
    networks:
      - yoma-multitenant
      - host
  yoma-multitenant-agent:
    build:
      context: .
      dockerfile: dockerfiles/agents/Dockerfile.agent
    env_file:
      - environments/yoma-multitenant/aca-py-agent.default.env
    ports:
      - 4020:3020
      - 4021:3021
    depends_on:
      - yoma-multitenant-wallets-db
    networks:
      - yoma-multitenant
      - yoma-ga
      - host
  tails-server:
    build:
      # The #main is required for some docker-compose versions because it otherwise tries to use master branch which does not exist n
      context: https://github.com/bcgov/indy-tails-server.git#main
      dockerfile: docker/Dockerfile.tails-server
    ports:
      - 6543:6543
    networks:
      - yoma-multitenant
      - yoma-ga
      - host
    environment:
      - DOCKERHOST=${DOCKERHOST}
    command: >
      tails-server
        --host 0.0.0.0
        --port 6543
        --storage-path $STORAGE_PATH
        --log-level INFO

volumes:
  webserver-cli:
  webserver-ledger:
  nodes-data:

networks:
  yoma-multitenant:
  yoma-ga:
  host:
