version: "3"

services:
  yoma-ga-web:
    build:
      context: .
      dockerfile: ./dockerfiles/fastapi/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - yoma-ga-wallets-db
      - ledger-nodes
      - ledger-browser
    networks:
      - yoma-ga
    env_file:
      - environments/yoma-ga/fastapi.default.env
  yoma-ga-wallets-db:
    image: postgres:11
    container_name: yoma-ga-wallets-db
    command: postgres -c listen_addresses='*'
    env_file:
      - environments/yoma-ga/db.default.env
    volumes:
      - ./resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yoma-ga
    tty: true
  ngrok-yoma-ga:
    image: wernight/ngrok
    env_file:
      - environments/yoma-ga/aca-py-agent.default.env
    command: ngrok http yoma-ga-agent:3020 --log stdout
    networks:
      - yoma-ga
    depends_on:
      - ledger-nodes
      - ledger-browser
  yoma-ga-agent:
    build:
      context: .
      dockerfile: dockerfiles/agents/Dockerfile.agent
    env_file:
      - environments/yoma-ga/aca-py-agent.default.env
    ports:
      - 3020:3020
      - 3021:3021
    depends_on:
      - yoma-ga-wallets-db
      - ledger-nodes
      - ledger-browser
    networks:
      - yoma-ga
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
  yoma-multitenant-web:
    build:
      context: .
      dockerfile: ./dockerfiles/fastapi/Dockerfile
    ports:
      - "8100:8000"
    volumes:
      - ./app:/app
    depends_on:
      - yoma-multitenant-wallets-db
      - ledger-nodes
      - ledger-browser
    networks:
      - yoma-multitenant
    env_file:
      - environments/yoma-multitenant/fastapi.default.env
  yoma-multitenant-wallets-db:
    image: postgres:11
    container_name: yoma-multitenant-wallets-db
    command: postgres -c listen_addresses='*'
    env_file:
      - environments/yoma-multitenant/db.default.env
    volumes:
      - ./resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yoma-multitenant
    tty: true
  ngrok-yoma-multitenant:
    image: wernight/ngrok
    env_file:
      - environments/yoma-multitenant/aca-py-agent.default.env
    command: ngrok http yoma-multitenant-agent:3020 --log stdout
    networks:
      - yoma-multitenant
    depends_on:
      - ledger-nodes
      - ledger-browser
  yoma-multitenant-agent:
    build:
      context: .
      dockerfile: dockerfiles/agents/Dockerfile.agent
    env_file:
      - environments/yoma-multitenant/aca-py-agent.default.env
    ports:
      - 4020:3020
      - 4021:3021
    depends_on:
      - yoma-multitenant-wallets-db
      - ledger-nodes
      - ledger-browser
    networks:
      - yoma-multitenant
      - yoma-ga
  ledger-browser:
    build:
      context: https://github.com/didx-xyz/von-network.git
      dockerfile: Dockerfile
    command: "bash -c 'sleep 10; ./scripts/start_webserver.sh;'"
    environment:
      - DOCKERHOST=${DOCKERHOST}
      - MAX_FETCH=50000
      - RESYNC_TIME=120
      - REGISTER_NEW_DIDS=True
      - LEDGER_INSTANCE_NAME=localhost
    ports:
      - ${WEB_SERVER_HOST_PORT:-9000}:8000
    volumes:
      - webserver-cli:/home/indy/.indy-cli
      - webserver-ledger:/home/indy/ledger
    networks:
      - yoma-multitenant
      - yoma-ga
    depends_on:
      - ledger-nodes
  ledger-nodes:
    build:
      context: https://github.com/didx-xyz/von-network.git
      dockerfile: Dockerfile
    command: "bash -c 'sleep 10; ./scripts/start_nodes.sh'"
    ports:
      - 9701:9701
      - 9702:9702
      - 9703:9703
      - 9704:9704
      - 9705:9705
      - 9706:9706
      - 9707:9707
      - 9708:9708
    environment:
      - DOCKERHOST=${DOCKERHOST}
    volumes:
      - nodes-data:/home/indy/ledger
    networks:
      - yoma-multitenant
      - yoma-ga
  tails-server:
    build:
      context: https://github.com/bcgov/indy-tails-server.git
      dockerfile: docker/Dockerfile.tails-server
    ports:
      - 6543:6543
    networks:
      - yoma-multitenant
      - yoma-ga
    command: >
      tails-server
        --host 0.0.0.0
        --port 6543
        --storage-path $STORAGE_PATH
        --log-level INFO

volumes:
  webserver-cli:
  webserver-ledger:
  nodes-data:

networks:
  yoma-multitenant:
  yoma-ga:
