anyio>=3.7.1
assertpy==1.1
beautifulsoup4~=4.12.2
black~=23.10.1
httpx~=0.25.1
isort~=5.12.0
lxml~=4.9.3
mockito~=1.4.0
pre-commit~=3.5.0
pylint~=2.17.7
pytest~=7.4.0
pytest-cov~=4.1.0
pytest-mock~=3.12.0
setuptools~=68.2.0
