anyio>=3.7.1
assertpy==1.1
beautifulsoup4~=4.12.2
black~=23.9.0
httpx~=0.25.0
isort~=5.12.0
lxml~=4.9.3
mockito~=1.4.0
pre-commit~=3.4.0
pylint~=2.17.4
pytest~=7.4.0
pytest-cov~=4.1.0
pytest-mock~=3.11.1
setuptools~=68.2.0
