aiohttp~=3.8.4
aries-cloudcontroller~=0.8.0rc11
fastapi==0.65.2
httpx~=0.24.0
pydantic~=1.10.7
typing-extensions~=4.5.0
uvicorn[standard]~=0.22.0
PyYAML~=6.0
base58~=2.1.1
fastapi_websocket_pubsub~=0.1.21
pyjwt~=2.7.0
