aiohttp~=3.8.4
aries-cloudcontroller==0.9.1b0
base58~=2.1.1
fastapi~=0.100.0
fastapi_websocket_pubsub~=0.3.4
httpx~=0.24.1
loguru~=0.7.0
pydantic~=1.10.9
pyjwt~=2.8.0
PyYAML~=6.0
typing-extensions~=4.7.0
uvicorn[standard]~=0.23.0
