aiohttp~=3.8.1
aries-cloudcontroller~=0.8.1rc0
fastapi==0.65.2
httpx==0.18.1
pydantic~=1.8.2
typing-extensions==4.0.0
uvicorn[standard]==0.15.0
PyYAML==5.4.1
base58~=2.1.0
fastapi_websocket_pubsub~=0.1.21
pyjwt~=2.4.0