git+https://github.com/didx-xyz/aries-cloudcontroller-python@252e073ddf8c0037237709833cd3fa316a97f7a9
dependency-injector-fork~=4.42.1  # https://github.com/ets-labs/python-dependency-injector/pull/765#issuecomment-1915100744
httpx~=0.27.0
fastapi~=0.110.0
loguru~=0.7.2
orjson~=3.10.0
pydantic~=2.7.0
redis~=5.1.0b4
uvicorn[standard]~=0.29.0
