aries-cloudcontroller==0.12.1.post0
dependency-injector-fork~=4.42.1  # https://github.com/ets-labs/python-dependency-injector/pull/765#issuecomment-1915100744
fastapi~=0.111.0
fastapi_websocket_pubsub~=0.3.8
httpx~=0.27.0
loguru~=0.7.2
orjson~=3.10.0
pydantic~=2.7.0
redis~=5.1.0b5
sse-starlette~=2.1.0
typing-extensions~=4.12.0
uvicorn[standard]~=0.30.0
