aioredis~=2.0.1
aries-cloudcontroller==0.9.1b1
dependency-injector~=4.41.0
fastapi~=0.103.0
fastapi_websocket_pubsub~=0.3.4
httpx~=0.25.0
loguru~=0.7.0
sse-starlette~=1.6.1
starlette>=0.27.0
typing-extensions~=4.8.0
uvicorn[standard]~=0.23.0
