aioredis~=2.0.1
aries-cloudcontroller==0.8.1
dependency-injector~=4.41.0
fastapi~=0.100.0
fastapi_websocket_pubsub~=0.3.4
loguru~=0.7.0
sse-starlette~=1.6.1
starlette>=0.27.0
typing-extensions~=4.7.0
uvicorn[standard]~=0.23.1
