# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Continuous Build

on:
  push:
    branches: [ development, feature/*, main ]
  pull_request:
    branches: [ development ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies.
      run: |
        cp app/* . -R
        rm -rf app
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Start Test Harness
      run: |
        manage up
    - name: Test with pytest
      run: |
        pytest --cov
    - name: Run Pylint
      run: |
        pip install pylint
        pylint admin routers oicd tests --rcfile=.pylintrc -r n --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}" --exit-zero > pylintreport.txt
    - name: Tear down test harnless
      run: |
       manage down
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
         -Dsonar.organization=didx-xyz
         -Dsonar.projectKey=didx-xyz_aries-cloudapi-python
         -Dsonar.verbose=false
         -Dsonar.python.xunit.reportPath=junit.xml
         -Dsonar.python.coverage.reportPaths=coverage.xml
         -Dsonar.python.pylint.reportPath=pylintreport.txt
